<h1><%= @client.name %></h1>
<p>Age: <%= @client.age %></p>

<%= link_to "Back", clients_path %>
<%= link_to "Edit", edit_client_path(@client) %>
<%= button_to "Delete", @client, method: :delete, data: { turbo_confirm: "Are you sure?" } %>